.grid {
	min-height: 790px !important;
	background: #ECEEEF;
	padding-left: 20px;
	padding-top: 20px;
}
.single-item {
	margin-top: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  cursor: move;
  width: 200px !important;
  margin-right: 18px;
  margin-left: 18px;
	cursor: move;
}
.col-sm-4 h2{
	text-align: center;
	padding: 20px;
}

.btn {
	border-radius: 30px !important;
	margin: 40px auto !important;
}
.btn-block {
	width: 80% !important;
}
.dropzone-container {
	margin: auto;
}
.drop-text {
	text-align:center;
	padding-top: 88px;
}

.dropzone-container {
  width: 300px;
  height: 200px;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
}

.img-name {
	color:#0275d8;
}

.img-size {
	color: #B0B9BE;
	padding-left: 10px;
}